<!DOCTYPE html>
<html lang="en-US">
	<head>
		<meta charset="utf-8">
		<title></title>

		<script type="text/javascript" src="../../lib/jquery/jquery-2.1.1.min.js"></script>

		<link rel="stylesheet" type="text/css" href="../../css/style.css" />

		<script type="text/javascript" src="../../js/storage.js"></script>

		<script type="text/javascript" src="./browser_action.js"></script>
	</head>

	<body>
		<section id="rulegen" class="popup center">
			<div>
				<a id="rule" class="trigger" href="" data-type="save"></a>
			</div>

			<div>
				<input id="domain-slider" type="range" min="0" value="0" max="3" step="1" disabled />
			</div>

			<div>
				<label><input id="protocol" type="checkbox" checked /> Include Protocol</label>
			</div>
		</section>

		<section id="permissions" class="popup">
			<div class="center">
				<span id="list-type" class="bold">Allow</span>
			</div>

			<div>
				<label><input name="rule-cookies" type="checkbox" /> Cookies</label>
			</div>

			<div>
				<label><input name="rule-javascript" type="checkbox" /> JavaScript</label>
			</div>

			<div>
				<label><input name="rule-plugins" type="checkbox" /> Plugins</label>
			</div>
		</section>

		<section class="popup center">
			<div>
				<a class="trigger" href="" data-type="clear-cookies">Clear unwanted cookies (<span id="unwanted-cookie-count">0</span> of <span id="total-cookie-count">0</span>).</a>
			</div>

			<div>
				<a class="trigger" href="" data-type="options">Show options</a>
			</div>
		</section>
	</body>
</html>
