<!DOCTYPE html>
<html lang="en-US">
	<head>
		<meta charset="utf-8" />

		<title>Bouncer Options</title>
		<link rel="shortcut icon" href="../img/icon32.png" />

		<script type="text/javascript" src="../../lib/jquery/jquery-2.1.1.min.js"></script>

		<script type="text/javascript" src="./options.js"></script>
	</head>

	<body>
		<h1>Bouncer Options</h1>

		<div>
			<div>
				Mode
			</div>
			<div>
				<label><input class="option" type="radio" name="mode" value="whitelist" disabled /> Whitelist</label>
				<label><input class="option" type="radio" name="mode" value="blacklist" disabled /> Blacklist</label>
			</div>
		</div>

		<div>
			<div>
				Enabled For
			</div>
			<div>
				<label><input class="option" name="cookies" type="checkbox" disabled /> Cookies</label>
				<label><input class="option" name="plugins" type="checkbox" disabled /> Plugins</label>
				<label><input class="option" name="images" type="checkbox" disabled /> Images</label>
				<label><input class="option" name="javascript" type="checkbox" disabled /> JavaScript</label>
			</div>
		</div>
	</body>
</html>
